/**行业类别**/
.main-So .main-So-ul li{
	float: left;
	width: 25%;
	display: table-cell;
}
.main-So .main-So-ul li a>div{
	width:94%;
	float: left;
	position: relative;
	margin:0 0 5% 0; 
	padding:0;
	text-align:center;
	background: #ccc;
	border:1px solid #e6e6e6;
}
.main-So .main-So-ul li:hover a>div{background: #efefef;}
.main-So-solu-img img{
	max-width: 100%;
}
.solu-dl{
	width: 100%;
	height: 80px;
	text-align: center;
	background: #fff;
	position:absolute;
	bottom: 0;
	left: 0;
}
.solu-dl dt{
	width: 66px;
	height:66px;
	border-radius: 33px;
	background: #fff;
	position: absolute;
	top: -23px;
	left: 38%;
}
.solu-dl dt .solu-dt{
	width:34px;
	height:32px;
	display: inline-block;
	background: url(../img/icon_img.png) no-repeat;
	background-position:0 0;
	margin-top: 16px;
}
.solu-dl dd{
	color: #3b3b3b;
	font-size: 18px;
	margin-top: 44px;
}
/**行业背景**/
.fontweight{
	font-weight: bold;
}











